@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-editorial: var(--font-editorial), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-editorial);
}
